extends layout.pug

block content

  article.portfolio-intro 
    h1 Welcome to my Portfolio 
    p This portfolio Serves the purpose of introducing me to you, here you find a number of project I had fun working on.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt="Project thumbnail")
            h5=project.project_name 

